.rv-div{
    position: fixed;
    z-index: 9999999;
    background-color: rgba(0,0,0,0.8);
    padding: 8px 25px;
    right: 30px;
    top: 30px;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    translate: all 0.5s;
    font-size: 14px;
    opacity: 1;
    cursor: default;
}

.rv-hide{
    opacity: 0;
}